%p#notice= notice

%p
  %b Username:
  = @user.username
%p
  %b Nickname:
  = @user.nickname
%p
  %b Provider:
  = @user.provider
%p
  %b Url:
  = @user.url
  
%ul
- @friends.each do |friend|
  %li= image_tag(#{ friend.photo_50 }, :class => 'img-rounded') "#{ friend.first_name } #{ friend.last_name }"

= link_to 'Back', users_path
